.cartas{
    display: flex;
    /* -webkit-align-items: center; */
    align-items: center;
    /* -webkit-flex-direction: column; */
    flex-direction: column;
    overflow: visible;
    margin: 0.5%;
    justify-content: space-around;
}

.LeftBar{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-top: 5px;
    max-width: 294px;
    min-width: 210px;
    padding-right: 14px;
    width: 100%;
}
  