.detail {
    
    /* color: rgb(13, 176, 38); */
    transition: all 2s ease;
    align-items: center;
    border-left: 2px solid whitesmoke;
}

.detail:hover{
    background-color: rgb(56, 67, 70);
    color: seashell;

}

.detContenido{
    padding: 4% 2% 4% 2%;
    font-variant-caps: petite-caps;
    font-size: 90%;
}

.detEncabezado {
    color: gray;
}

.precio{
   font-size: 1.5rem; 
   text-align: center;
}

.disponible{
    margin-bottom: 5px;
    color: rgb(13, 176, 38);
}

@media(max-width:861.33px){
    .detail{
        width: 100%;
        border-left: none;
        border-top: 2px solid whitesmoke;
    }
    
}
