.contenedor{
    text-decoration: none;
    font-size:0.75rem;
}

.link{
    text-decoration: none;
    margin-bottom: 15px;
}

.nombre{
    color: rgb(55, 53, 53);

}

.nombre:hover{
    color: royalblue;
}