.contPrincipal{
    width:100%;
    justify-content: center;
    display: flex;
    background-color: white;
    transition: all 2s ease;
    background-color: #dfdfef;
}


.contenedor {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 300px;
    max-width: 1200px;
    justify-content: space-between;
    transition: all 2s ease;
    /* margin-bottom: 2%; */
}

.contenedor{
    background-color: rgb(26, 49, 56);
    color: seashell;
}
.imagenes{
    display: table-column-group;
    flex-direction: column;
    margin-top:2%;
}

.imagen{
    width: 44px;
    height: 44px;
    margin-bottom: 5px;
    cursor: pointer;
    border: black 1px solid;
    border-radius: 6px;
    padding: 2px;
    margin-right: 5px;
}

.segContenedor{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.imagen:hover{
    border: rgb(86, 86, 201) 1px solid;
    opacity: 70%;
}

.contImgGde {
    /* min-height: 250px; */
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-height: 500px;
}

.imgGrande {
    /* cursor: zoom-in; */
    height: auto;
    object-fit: contain;
    width: 95%;
    max-height: 400px;
    height: 100%;
}

@media(max-width:861.33px){
    .contenedor{
        flex-direction: column;
    }
    
    .segContenedor{
        width: 100%;
        flex-direction: column;
    }
    .imagenes{
        display: table-column-group;
        width: 100%;
        margin-right: 0px;
    }

    
}

@media(max-width:450px){
    .contenedor{
        width: 100%;
    }
}