/* The side navigation menu */
.Contenedor{
    height: 100%;
    text-align: initial;
    /* overflow: scroll; */
    width: 30%;
    /* margin-right: 5%; */
  }
  
  .listaCategorias{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    position: fixed;
    text-align: justify;
    height: 100%;
  }
  
  .link{
    color: black;
    text-decoration:none;

  }
  .listaCompleta{
    position: absolute;
  }
  
  .list{
    
    color: black;
    text-decoration:none;

    font-size: smaller;

  }
  .list:hover {
    color: gray;
  }
  @media (max-width: 600px) {
    .Contenedor {
      width: 7%;
    }
  }

  @media (max-width: 500px){
    .Contenedor {
      visibility: hidden;
    }
  }
  
  