/* The side navigation menu */
.Contenedor{
  height: 100%;
  text-align: initial;
  position: relative;
  /* overflow: scroll; */
  width: 34%;
  margin-right: 1%;
  background: white;
  border-radius: 20px;
  /* margin-top: 5px; */
  padding-left: 1%;
  padding-top: 2%;
  border: 1px rgb(138, 134, 134) solid;
}
  
.listarCategorias{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  text-decoration: none;
}
.link{
  color: rgb(116, 113, 113);
  text-decoration:none;

}
.listaCompleta{
  position: absolute;
}

.list{
  
  color: rgb(55, 53, 53);
  text-decoration:none;
  font-size: 0.75rem;

}
.list:hover{
  color: royalblue;
  cursor: pointer;
}
.filter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  font-size: 75%;
  width:90%;
  align-items: center;
  border-bottom: rgb(230, 88, 88) solid 1px;
}

.filterBoton{
  background-color: rgb(230, 88, 88);
  max-width: 24.91px;
  max-height: 21px;
  align-self: center;
}

.filterBoton:hover {
  background: black;
  color: white;
  border-radius: 5px;
}


@media (max-width: 600px) {
  
}

@media (max-width: 350px){
  .Contenedor{
    display: none;
  }
  
}

  