/* The side navigation menu */
.Contenedor{
    position: fixed;
    height: 100%;
    text-align: initial;
    min-width: 160px;
    overflow: scroll;
    font-size: smaller;
    
  }
  
  .listaCategoria{
    display: flex;
    z-index: -1;
    margin-top: 2%;
    position: fixed;
    min-width: 100px;
    text-align: justify;
    height: 100%;
  }
  
  .link{
    color: black;
    text-decoration:none;

  }
  .listaCompleta{
    position: absolute;
  }
  
  .list{
    color: black;
    text-decoration:none;

  }
  .list:hover {
    color: gray;
  }
  @media (max-width: 600px) {
    .Contenedor {
      width: 7%;
    }
  }
  
  