/* .Nav {
    width: 40 %;
} */
.principal{
    width: 100%;
    /* display: flex;
    justify-content: center; */
    /* margin-left: 5%; */

}
.ul {
    margin-block-start: 0%;
    list-style: none;
    display: flex;
    margin-inline-start: 0px;
    justify-content: center;
    padding-inline-start: 0%;
}

@media (max-width: 300px){
    
}
