.cardProd {
  align-items: center;
  padding-left: 2.5%; 
  padding-right: 2.5%;
  display: flex;
  background-color: white;
  /* position:relative; */
  /* margin: 5px; */
  border-radius: 20px;
  border: 1px solid black;
  /* min-width: 250px; */
  /* margin-left: 10%; */
  justify-content: center;
  width: 95%;
  /* background: linear-gradient(45deg, black, transparent); */
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  min-width: 150px;
}
  /*
   .cardProd:hover, .card.flip{  
  } */

.cardProd:hover {
  background-color: rgb(150, 145, 145);
}

 .imagen{
  width: 160px;
  height: 160px;
}

.detailProd{
  width: 50%;
  margin-left: 10%;
}

@media (max-width: 600px) {
  .cardProd{
    flex-direction: column;
    padding-top: 10px;
  }

  .detailProd{
    width: 100%;
    margin-left: 0%;
  }
  

  h3{
    font-size: small;
  }
}
@media (max-width: 350px) {
  
  .cardProd{
    width: 100%;
  }

  h3{ 
    font-size: small;
  }
  p{
    font-size: small;
  }
  .imagen{
    height: 100px;
    width: 90%;
  }
}