.contenedor{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 1200px; */
  justify-content: center;
}
.ContenedorPrincipal{
  width: 100%;
  display: flex;
  justify-content: center;
}
.secundario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  /* position: ; */
}

.ContenedorCartasPag{
  display: flex;
  flex-direction: column;
  min-width: 70px;
  width: 75%;
  
  /* right: 0; */
}

.cartas{
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  right: 0;
  /* overflow: visible; */
}



@media (max-width: 350px) {
  /* .ContenedorPrincipal {
    width: 100%;
  } */
  .ContenedorCartasPag{
    width: 95%;
  }
}

/* 
@media (max-width: 300px) {
  .ContenedorPrincipal {
    width: 100%;
  }
  .ContenedorCartasPag{
    width: 100%;
  }
} */
