.ContenedorPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  /* position: ; */
}

.ContenedorCartasPag{
  display: flex;
  flex-direction: column;
  min-width: 100px;
  width: 60%;

  /* right: 0; */
}

.cartas{
  display: flex;
  position: relative;
  flex-direction: column;
  right: 0;
  /* overflow: visible; */
}



/* @media (max-width: 600px) {
  .ContenedorPrincipal {
    top: 70px;
  }
} */
