.Contenedor{
  display: flex;
  width: 100%;  
}

.cartas{
  display: flex;
  /* position: relative; */
  width: 90%;
  /* min-width: 300px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* left: 5% */
}


.cardProd {
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 220px;
  border-radius: 20px;
  border: 1px solid black;
  /* min-width: 300px; */
    /* justify-content: space-around; */
    background: rgb(175, 210, 214);
    text-decoration: none;
    max-width: 1200px;
}
  /*
    .cardProd:hover, .card.flip{  
} */
  

    .cardProd:hover{
      height: 230px;
     background-color:  blue;
    }
.imagen{
  height: 160px;
  width: 160px;
}

.text{
  margin-left:10%;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


@media (max-width: 400px) {
  .cardProd{
    flex-direction: column;
  }
}

@media (max-width: 200px){
  .imagen{
    width: 100px;
    height: 100px;
  }
  .text{
    font-size: medium;
  }
}