.cardProd {
    position: relative;
    width: 200px;
     margin: 5px;
    border-radius: 20px;
    height: 400px;
    border: 1px solid black;
  }
  /*
   .cardProd:hover, .card.flip{  
  } */

  /* .imagen{
    height: 192.358px;
    width: 192.358px; 
    padding-top: 10px;
    justify-items: center;
    max-width: 192.358px; 
    max-height: 192.358px;
}

ContPrecio{
  display: flex;

}  */
  
.carta {
  width: 284px;
  height: 284px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 100px; */
  /* width: 30%;
  border: black 1px solid;
  border-radius: 20px;
  padding: 10px;
  margin: auto; */
}


/* .contenedorClima{
  display: flex;
  justify-content: space-around;
  background: lightblue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.5rem;
} */